@mixin flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-start {
    color: $footer-head-text;
    font-size: $footer-head-text-size;
    padding: 15px 0;
}